body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.images {
  display: inline-flex;
  max-width: 50%;
  vertical-align: top;
  margin-right: 20px;
  box-shadow: 100px 100px 100px rgba(232, 36, 36, 0.2);
  margin-right: 30px;
}
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}
.animated-link {
  color: #007bff;
  transition: color 0.3s ease;
}

.animated-link:hover {
  color: #0056b3;
}
